<ul class="center flex card-caroussel">
  <li class="card login">
    <div class="maininfo">
      {{#if session_id}}
        <h3 id="title">Please login with your discord account</h3>
        <div id="messages"></div>
        <div class="oauth-buttons">
          <a href="https://discordapp.com/api/oauth2/authorize?client_id=557180806179848195&redirect_uri={{redirectUri}}&response_type=code&scope=identify%20email%20guilds&state={{session_id}}" class="btn discord">
            <img class="logo" src="./static/img/icons/discord-logo-white.svg">
            <div class="value">Login with discord</div>
          </a>
        </div>
      {{/if}}
        {{#if error}}
        <div class="error">
          <h3 id="title">Oof, big oops</h3>
            {{#if oauth_invalid_error}}
              Discord could not verify the authorization request.
            {{/if}}
            {{#if session_invalid_error}}
              We could not verify if it was really you logging in.
            {{/if}}
            {{#if session_generate_error}}
              We could not store your session.
            {{/if}}
            {{#if no_response_error}}
              We did not get a response from Discord
            {{/if}}
            {{#if user_creation_error}}
              Something went wrong while saving your user info
            {{/if}}
            <br/><a href="./">Click here to try again</a>
          {{/if}}
        </div>
    </div>
  </li>
</ul>