<li class="card reminder searchable">
    <a href='{{url}}' class='clickable-wrap flex'>
        <div class="maininfo">
            <h3 id="title">{{title}}</h3>
        </div>
        <div class="metainfo">
            <img class="avatar"/>
            <b>John Doe</b>
        </div>
    </a>
</li>