<li class="thumbnail">
    <img alt='' src='{{img}}'>
    <a href='{{url}}' class='image-wrap'>
        <div class='caption'>
            <h3 id="title">{{title}}</h3>
            <ul id="tags" class='tags'>

            </ul>
        </div>
    </a>
</li>