html {
  font-family: "Raleway", sans-serif; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-v4020-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-v4020-regular-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-v4020-thin-webfont.woff2") format("woff2"), url("../fonts/raleway-v4020-thin-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-v4020-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-v4020-bold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ff4d61; }

h1 {
  font-size: 4rem;
  font-weight: 400; }

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.4em 0; }

h3 {
  font-size: 1.5rem;
  font-weight: 700; }

p {
  font-size: 1.2rem;
  line-height: 1.618em; }

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 95%; }

.container-small {
  margin: 0 auto;
  max-width: 40rem;
  width: 95%; }

ul {
  list-style-image: url("/static/img/icons/bullet-pink.svg"); }
  ul li {
    padding-left: 0.4em;
    line-height: 1.618em;
    font-size: 1.2rem; }

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.2em solid; }

a:hover,
a:focus {
  color: #000; }

a:focus {
  background: #00000011; }

/* .thumbnail-row:first-child {
    margin-top: 8em; 
} */
.thumbnail.faded {
  opacity: 0.5; }

.thumbnail.show {
  animation: 0.4s ease-out 0s 1 fadeInHalf; }

.thumbnail.hide {
  display: none; }

.thumbnail img {
  width: 100%;
  height: 100%; }
