body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: $primary-color;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.4em 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  line-height: 1.618em;
}
.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 95%;
}
.container-small {
  margin: 0 auto;
  max-width: 40rem;
  width: 95%;
}
ul {
  list-style-image: url("/static/img/icons/bullet-pink.svg");
  li {
    padding-left: 0.4em;
    line-height: 1.618em;
  }
}
a {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $link-hover-color;
}
a:focus {
  background: $link-focus-background;
}
.flex {
  display: flex;
  flex-direction: row;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}