/* .thumbnail-row:first-child {
    margin-top: 8em; 
} */
.card-caroussel {
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 2em;
  // justify-content: space-around;
}
.card {
  overflow: none;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  transition: .25s ease;
  padding-left: 0;
  width: 100%;
  transform: scale(1);
  
  &.faded {
    opacity: 0.25;
    &:hover {
      opacity: 1;
    }
  }
  &.show {
    animation: 0.4s ease-out 0s 1 fadeInHalf;
  }
  &.hide {
    animation: 0.4s ease-out 0s 1 fadeOutHalf;
    width: 0%;
    transform: scale(0.75);
    z-index: -99;
    transform-origin: center;
  }
  a {
    color: $link-hover-color;   
  }
  &:hover {
    opacity: 1;
    transform: scale(1.02);
    a {
      color: $link-color;
    }
  }
  a.clickable-wrap {
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 100%;
    h3 {
      margin: 1em 1.5em 0 1em;
      width: 75%;
    }
  }
}
