header {
  text-align: center;
  h1 {
    font-size: 3.75em;
    color: $header-title-color;
    font-weight: medium;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  p {
    color: $header-subtitle-color;
    margin: 0;
  }
  a {
    color: $link-hover-color;
    &:hover {
      color: $secondary-color;
    }
  }

  margin-bottom: 1em; 
}