.reminder {
  margin-right: 2em;
  position: relative;
  outline: 0;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  list-style: none;
  width: 20em;
  height: 15em;


  &:hover {
    opacity: 1;
    transform: scale(1.02);
    a {
      color: $link-color;
    }
  }
  &.hide {
    margin-right: 0;
  }
  .metainfo {
    display: flex;  
    background: rgba(255,255,255,0.75);
    height: 5.5em;
    overflow: hidden;
    .metatext {
      display: flex;
      flex-direction: column;
      color: #000;
      line-height: 1em;
      padding-top: 0.6em;
      .name {
        font-weight: bold;
      }
      .date {
        font-size: 0.8em;
      }
    }
    .avatar {
      height: 100%;
      margin-right: 0.2em;
      img {
        height: 90%;
        width: auto;
        padding: 5%;
        border-radius: 50%;
      }
    }
  }
}