.reminder {
  margin-right: 2em;
  position: relative;
  outline: 0;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  list-style: none;
  width: 20em;
  height: 15em;
  
  .maininfo {
    background: #fff;
    height: 100%;
    overflow: auto;
  }
  .metainfo {
    display: flex;
    overflow: none;
    background: rgba(255,255,255,0.75);
    height: 4em;
    b {
      padding-top: 0.75em;
      padding-left: 1em;
    }
    .avatar {
      height: 80%;
      margin-top: 2%;
      margin-left: 2%;
      width: 3em;
      background: gray;
      border-radius: 50%;
    }
  }
}