$dark-overlay-color: background(0, 0, 0, 0.8);
$primary-color: #ff4d61;
$background-color: $primary-color;

$breakpoint-small: 50em;
$breakpoint-medium: 70em;

$link-color: #FF4D61;
$link-hover-color: #000;
$link-focus-background: #00000011;
