{{> header title="reminders"}}

<main class="center container" id="main">  
    <section class="filters center flex">
        <form class="row center" action="">
            <input id="search" type="search" placeholder="Search in your reminders.">
        </form>
    </section>
    <ul class="center flex card-caroussel search-items-row">
        {{#each reminders}}
            {{> reminder 
            avatar=avatar
            title=title
            postedBy=postedBy
            postedOn=timestamp
            }}
        {{/each}}
    </ul>
    <ul id="messages"></ul>
</main>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
$(function () {
    var socket = io('127.0.0.1:1511');
    socket.on('reminder', function(reminder){
        $('#messages').append($('<li>').text(reminder.title));
    });
});
</script>
<script type="text/javascript" src="static/js/search.js"></script>