<a href="#main">Skip to content</a>
<nav>
    <ul>
        <li><a class='current' href='/'>Home</a></li>
        <li><a href='projects'>Projects</a></li>
        <li><a href='#'>Contact</a></li>
    </ul>
</nav>

{{> header title="ADRmeta" subtitle="Tracking facial similarity in archived portraits"}}

<main class="row center">
    <section class='project-meta'>
        <a href="">Demo1</a>
        <a href="">View this project on Github</a>
    </section>
</main>