<header>
    <h1>REMINDERS</h1>
</header>

<main class="center container" id="main">  
    <section class="filters center flex">
        <form class="row center" action="">
            <input id="search" type="search" placeholder="Search in your reminders">
        </form>
    </section>
    <ul class="center flex card-caroussel search-items-row">
        {{> reminder 
        img=""
        title="Pick up some eggs on your way home"
        description="Facial similarity in portraits"
        }}

        {{> reminder 
        img=""
        title="You forgot your headphones, pick them up today"
        description="ES6 library for easy API handlings"
        }}
    </ul>
</main>
<script src="/socket.io/socket.io.js"></script>
<script>
(function () {
    var socket = io("127.0.0.1:3000");

    socket.on('chat message', function(msg){
        document.querySelector('#main').appendChild("<li>"+ msg +"</li>");
    });
});
</script>
<script type="text/javascript" src="static/js/search.js"></script>